@charset "utf-8";
/* CSS Document */
body,ul,li{ 
	padding:0px; 
	margin:0px; 
	
	font-family: 'Raleway', 'Lato', Arial, sans-serif;
	}
.bodyContainer{
	height: auto;
	//background: yellow none repeat scroll 0% 0%;
	}	
.cashBox{
	//border: 1px solid #f8be38;
	width: 300px;
	height: 200px;
	margin: 0px auto;
	text-align: center;
	line-height: 204px;
	//background: rgb(192, 12, 11) !important;
	background:url(../images/Shape%20Block.png);
	//border-radius: 53px;
	background-size: 304px 205px;
	color: white;
font-size: 23px;
	}	
.buttonGreen{
	display: block;
	text-decoration: none;
	padding: 15px;
	border-radius: 6px;
	color: white;
	background: green;
	text-align: center;
	width: 55px;
	height: 19px;
	margin: 17px auto;
	/*display: block;
	text-decoration: none;
	padding: 10px;
	border-radius: 3px;
	color: white;
	background: green;*/
	}
.bgColor{
	background:#f7f7f7;
	}	
.bgBackground{
	//background: url(../images/loginBG.jpg) no-repeat center center fixed; 
	background:#f8f8f8;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	}	
.header{
	height:auto;
	background:#fff;
	border-bottom: 3px solid #34c4d2;
	}
.headerInner{
	float: right;
	margin-right: 100px;
	margin-top: 2px;
	}	
.header ul{
	list-style-type: none;
	float: right;
	margin-right: 95px;
	line-height: 116px;
	}	
.header ul li{
	float:left;
	padding-left:10px;
	}
.header ul li a{
	text-decoration:none;
	color:#000;
	margin-right: 7px;
	}	
.header ul li:nth-last-child(1){
	margin-left: 20px;
	}	
	
Container{
	width: 100%;
	//height: 669px;
	
	}
.slider{
	display: block;
	//background: red none repeat scroll 0% 0%;
	height: 551px;
	}	
#slideshow {
	position: relative;
	width: auto;
	height: 551px;
	overflow: hidden;
}

#slideshow > div img{
	width:100%;
	height:551px;
}	
	
	
.headingCon{
	display: block;
	background:rgb(0, 142, 189);
	height: 160px;
	
	line-height: 160px;
	font-size: 40px;
	font-weight: bold;
	color: white;
	text-transform: uppercase;
	}
	
.productContainerBG{
	background:url(../images/Ecosystem%201600x4000.jpg) no-repeat;
	//width:100%;
	height:4000px;
	}
		
.productContainer{
	padding: 10px 45px;
	}
.eventbox{
	width: 370px;
	height: 475px;
	position: relative;
	float: left;
	margin-left: 96px;
	margin-top: 40px;
	margin-bottom: 30px;
	background: #FFF;
	overflow:hidden;
	box-shadow: 0 3px 35px 0 rgba(46, 61, 73, 0.1);
	}
.eventbox .imgCon {
	width: 370px;
	height: 208px;
	margin: 0px auto;
	background: #12d194;
	overflow:hidden;
	}
.eventbox img{
	width: 370px;
	height: 208px;
	}		
.eventbox h3{
	padding: 0px 11px;
	}
.eventbox .description{
	margin: 0px auto;
	//padding: 1px 57px 8px 7px;
	width: 288px;
	//white-space: nowrap;
	height: 122px;
	overflow: hidden;
	text-overflow: ellipsis;
	}	
.eventbox a{
	text-decoration: none;
	display: block;
	background: #65c065;
	width: 73px;
	padding: 12px;
	border-radius: 5px;
	margin: 10px auto;
	color: white;
	overflow:hidden;
	}
	
.customWidth{
	width:36% !important;
	}	
.loginForm input[type="text"], .loginForm input[type="date"], .loginForm input[type="password"],select,.loginForm input[type="tel"],.loginForm input[type="email"] {
    width: 95%;
    padding: 8px 4px 8px 10px;
    margin-bottom: 15px;
    border: 1px solid #4e3043;
    border: 1px solid rgba(78,48,67, 0.8);
    background: rgba(0,0,0,0.15);
    border-radius: 2px;
    box-shadow: 0 1px 0 rgba(255,255,255,0.2), inset 0 1px 1px rgba(0,0,0,0.1);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    color: white;
    font-size: 13px;
}	
.loginForm input[type="submit"]{
	border: medium none;
	background: rgb(9, 197, 248) none repeat scroll 0% 0%;
	color: white;
	padding: 9px 1px 8px 9px;
	width: 99%;
	font-size: 1em;
	}
.loginForm input[type="submit"]:hover{
	background: rgb(8, 176, 222) none repeat scroll 0% 0%;
	}
.loginForm h3{
	//text-align: center;
	color: rgb(24, 188, 242);
	font-size: 21px;
	text-transform: uppercase;
	}	
	
.logo{
	color: rgb(24, 188, 242);
	font-size: 31px;
	font-weight: bold;
	//line-height: 73px;
	margin-left: 72px;
	}		
.welcome{
	color: white;
margin-left: 46%;
	}	
.sign{
	text-decoration: none;
	color: rgb(24, 188, 242) !important;
	font-weight: bold;
	}
.content-container{
	width: 98%;
	margin: auto;
	margin-top: 31px;
	}
.circle{
	border:3px solid rgba(164, 162, 162, 0.23);
	border-radius: 50%;
	height: 164px;
	box-shadow: 0px 1px 11px 0px white;
	width: 70%;
	margin: auto;
	overflow: hidden;
	position:relative;
	}		
.circleImg{
	width: 174px;
	height: 173px;
	opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
    background-position:center;
	}
.middle a{
	text-decoration:none;	
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}	
.circle:hover .circleImg {
  opacity: 0.3;
}

.circle:hover .middle {
  opacity: 1;
}
 
.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}	
/*.ul{
	list-style-type:none;
	}		
.ul li a{
	text-decoration:none;
	color:#2A0000;
	display: block;
	border-bottom: 1px dotted #DBDBDB;
	padding: 12px 10px;
	background: white;
	text-align: center;
	transition:0.5s all ease-in-out;
	}	

.ul li a:hover{
	background:#2A0000;
	color:#FFF;
	}*/	
.sidebar{
		float: right;
		//background-color: rgb(24, 188, 242);
		width: 18%;
		padding: 10px;
		}
.contentBody{
	width: 75%;
	float: left;
	}		
.topbar{
	height: 80px;
	background: #0098c4 none repeat scroll 0% 0%;
	margin-top: 6px;
	}	
.content{
	
	}	
.hello{
	text-align: center;
	display: block;
	margin: 10px 0px 20px;
	}	
.member{
	display: block;
	color: white;
	line-height: 79px;
	float: left;
	margin-left: 14px;
	}	
.notes{
	float: right;
	color: black;
	margin-right: 14px;
	background: white;
	padding: 14px;
	border-radius: 3px;
	margin-top: 15px;
	}	
.product{
width: 266px;
	float:left;
	margin-left: 5%;
	}	
.product h4{
	text-align: center;
	padding: 15px 1px 0px;
	}
.product .div{
	background: transparent url("../images/graph.png") no-repeat scroll center center;
	height: 180px;
	text-align: center;
	line-height: 182px;
	}

.product .list{
	margin: 10px 45px;
	min-height:80px;
	}
.product .list ul li{
	font-weight:bold;
	padding:2px;
	}
.product .list ul li a{
	text-decoration: none;
	color: #F00;
	}	
.product .list ul li a:hover{
	color: rgb(255, 208, 3);
	}				
.buttonOrange{	
	text-decoration: none;
	display: block;
	background: #ffc700;
	text-align: center;
	padding: 15px;
	width: 55px;
	height: 19px;
	border-radius: 6px;
	margin: 17px auto;
	color: white;
	}
.innerContainer{
	background: white none repeat scroll 0% 0%;
	margin-top: 10px;
	padding: 30px;
	}
.label{
	display: block;
	margin: 0px;
	padding: 0px;
	font-weight: bold;
	}
.textField{
	padding: 10px;
	width: 249px;
	margin-bottom: 10px;
	background: rgb(240, 240, 240) none repeat scroll 0% 0%;
	border: medium none;
    color: black;
	}	
.submit{
	border: medium none;
	padding: 10px;
	width: 87px;
	border-radius: 5px;
	background: green none repeat scroll 0% 0%;
	color: white;
	}
.footer{
	background: black none repeat scroll 0% 0%;
	height: 30px;
	color: white;
	text-align: center;
	line-height: 30px;
	}


table.paleBlueRows {
  border: 1px solid #FFFFFF;
  text-align: center;
  border-collapse: collapse;
}
table.paleBlueRows td, table.paleBlueRows th {
  border: 1px solid #FFFFFF;
  padding: 1px 34px;
}
table.paleBlueRows tbody td {
  font-size: 12px;
  padding:10px;
}

table.paleBlueRows tbody tr:nth-child(even) {
  background: #D0E4F5;
}
table.paleBlueRows tbody tr:nth-child(odd) {
  background: #fafafa;
}
table.paleBlueRows thead {
  background: #0B6FA4 !important;
  border-bottom: 5px solid #FFFFFF;
}
table.paleBlueRows thead th {
  font-size: 17px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  border-left: 2px solid #FFFFFF;
}
table.paleBlueRows thead th:first-child {
  border-left: none;
}

table.paleBlueRows tbody tr:hover{
	background:#CCC;
	}

#overlay_form{
	position: absolute;
	border: 5px solid lightblue;
	padding: 10px;
	background: white;
	width: 270px;
	height: 190px;
	z-index: 200;
}
#pop{
	display: block;
	border: 1px solid gray;
	width: 100px;
	text-align: center;
	padding: 6px;
	border-radius: 5px;
	text-decoration: none;
	margin: 22px;
	z-index: 100;
}
.background_overlay { position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; z-index: 1; background:black; opacity: 0.5;}
.errorMsg{
	color: white;
	font-weight: bold;
	text-align: center;
	display: block;
	background: #ff1010;
	padding: 10px;
	}
.succMsg{
	color: white;
	font-weight: bold;
	text-align: center;
	display: block;
	background: #090;
	padding: 10px;
	}
.customTable{
	width:100%;
	overflow:hidden;
	height:auto;
	float:left;
	}
.customTable div{
	float:left;
	width:25%;
	}
/*customer form table*/
.loginForm{
	background: rgba(14, 13, 13, 0.66) none repeat scroll 0% 0%;
	width: 425px;
	display: block;
	margin-top:7%;
	//padding: 43px 23px 43px 23px;
	padding: 35px;
	border-radius: 4px;
	position:relative;
	}
.loginForm a{
	text-decoration: none;
	color: white;
	display: block;
	margin-top: 10px;
	
	}	
	
.loginForm .loginBtns a{
	border: 1px solid #a89494;
	background: rgb(24, 188, 242);
	padding: 14px;
	}	
.loginForm .loginBtns a:hover{
	color: rgb(24, 188, 242) !important;
	background:white;
	transition:.5s all ease-in-out;
	}	
	
	
	
.formError{
	float: right;
	color: red;
	}	
	


/* DivTable.com */
.divTable{
	display: table;
	width: 100%;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell:nth-child(odd), .divTableHead {
	//border: 1px solid #999999;
	display: table-cell;
	padding: 1px 5px;
	width: 12%;
}
.divTableCell:nth-child(even), .divTableHead {
	//border: 1px solid #999999;
	display: table-cell;
	padding: 3px 10px;
} 
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}	 
.mission{
	width: 900px; 
	margin: 0px auto;
	}	
.mission ul li{
	line-height: 37px;
	font-size: 25px;
	}	  
.customerFooter{
	background:#f5f5f5;
	}	
.customerFooter .span{
	text-align: center;
margin-bottom: 35px;
font-size: 12px;
line-height: 17px;
width: 527px;
display: block;
margin: 0px auto;
padding: 20px;
color: #a7a7a7;
	}	