/* global style */
body{
    padding-top: 65px;
}

.navbar{
    margin: 0;
    border-radius: 0;
}

.navbar-toggle{
   border: none;
}

.navbar-inverse{
    background-color: #fff;
    border-color: transparent;
    border-bottom: 3px solid #34c4d2;
}
.navbar-inverse .navbar-toggle .icon-bar{
    background-color: #474744;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle{
    background-color: transparent;
}
.navbar-toggle .icon-bar{height: 3px;}
.navbar-collapse > ul > li a{overflow: hidden;}
.navbar-collapse > ul > li a:after{

    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    width: 100%;
    height: 120%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    content: "";
    transition: all .2s ease;
    transform: perspective(5px) rotateX(2deg) translateY(100%);
    transform-origin: bottom;
}
.navbar-collapse > ul > li.active > a:after,
.navbar-collapse > ul > li:hover > a:after,
.navbar-collapse > ul > li > a:hover:after,
.navbar-collapse > ul > li > a:focus:after{
    background: #34c4d2;
    color: #fff;
    transform: perspective(5px) rotateX(2deg) translateY(0%);
}

.navbar {
    min-height: 65px;
}

.navbar-brand {
    padding: 0 15px;
    height: 65px;
    line-height: 65px;
}
.navbar-brand img{
    width: 100px;
}

.navbar-toggle {
    margin-top: 23px;
    padding: 9px 10px !important;
}
.navbar-toggle:hover{
    background-color: transparent !important;
}
.navbar-toggle .icon-bar{
    transition: all .5s;
}
.navbar-toggle.active .icon-bar:first-child{
    position: relative;
    top: 3px;
    transform: rotate(-135deg);
}
.navbar-toggle.active .icon-bar:nth-child(2){
    opacity: 0;
  }
.navbar-toggle.active .icon-bar:last-child{
    position: relative;
    top: -11px;
    transform: rotate(135deg);
}
.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover{
    background-color: #fff;
}

@media (max-width: 800px){
    .banner_slider, .banner_slider .single_item{
        height: 350px !important;
    }
    .navbar-collapse.in{
        overflow: hidden;
    }
}

@media (max-width: 480px) and (min-width: 400px){
    .banner_slider, .banner_slider .single_item{
        height: 250px !important;
    }
    .banner_slider .slideArrow{
        width: 25px !important;
    }
    .banner_slider .slick-dots{
        bottom: 10px !important;
    }
    .banner_slider .NextArrow{
        left: 15px !important;
    }
    .banner_slider .PrevArrow{
        right: 15px !important;
    }
}

@media (max-width: 375px) and (min-width: 320px){
    .banner_slider, .banner_slider .single_item{
        height: 250px !important;
    }
    .banner_slider .slideArrow{
        width: 25px !important;
    }
    .banner_slider .slick-dots{
        bottom: 10px !important;
    }
    .banner_slider .NextArrow{
        left: 15px !important;
    }
    .banner_slider .PrevArrow{
        right: 15px !important;
    }
}

@media (min-width: 768px) {
    .navbar-nav > li > a {
        padding: 26px 15px 19px;
        font-size: 17px;
    }
    .navbar-header{
        padding-top: 5px;
    }
    .navbar-brand{
        position: absolute;
        background-color: #fff;
        height: 120px;
        border-radius: 50%;
        border-bottom: 4px solid #34c4d2;
    }
}

@media (max-width: 767px) {
    .navbar-brand img {
        width: 50px;
        margin-top: 6px;
    }
    .navbar-toggle{
        margin-top: 18px;
    }
    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
        border-color: transparent;
    }
    .navbar-inverse .navbar-nav>li>a{
        text-align: center;
        transition: all .3s;
    }
    .navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover{
        background-color: #34c4d2;
    }
    .navbar-collapse > ul > li.active > a:after,
    .navbar-collapse > ul > li:hover > a:after,
    .navbar-collapse > ul > li > a:hover:after,
    .navbar-collapse > ul > li > a:focus:after{
        display: none;
    }
    .navbar-nav {
        margin: 0 -15px;
    }
}
